/* common styles */

   * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;


    
}

body {
    font-family: 'Lato','Lucida Grande', sans-serif;
    overflow-y: scroll;
    height: 100%;
    background-color: black;

}


/* Common Navigation Styles */

.navigation-wrapper {
    height: 65px;
    background-color: black;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 4fr;
    align-items: center;
    border-bottom: 1px solid #222;
}
/* logo styles -- needs to be cropped so that it can be bigger */

/* .navigation-wrapper > .cp-logo-wrapper {
    width: 180px;
    height: 65x;

} */

.navigation-wrapper > .cp-logo-wrapper > .cp-logo img {
    width: 165px;
    height: 65px; 
    filter: invert(100%);
    object-fit: cover;
    padding-bottom: 13px;
    padding-left: 13px;
 
}




.navigation-wrapper > .link-wrapper {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 900;

} 

.navigation-wrapper > .link-wrapper > .pens-link {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding-left: 15px;
    margin-right: -20px;
    padding-bottom: 16px;
}

.navigation-wrapper > .link-wrapper > .pens-link > .explore {
    text-transform: uppercase;
    color: #f4e17f;  
    font-size: .83rem; 
    font-weight: 400; 
}

.navigation-wrapper > .link-wrapper > .link {
    margin: 5px;
}

.navigation-wrapper > .spark-link-wrapper a {
    color: #acacac;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 20px;
}

.navigation-wrapper > .spark-link-wrapper i {
    padding-left: 8px;
}

.navigation-wrapper > .button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    

}

.navigation-wrapper > .button-wrapper > .create-button {
    background-color: #343436; 
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 10px 5px 10px;
    padding: 5px;
    width: 130px;
    height: 50px;
    border-color: #343436;

}

.navigation-wrapper > .button-wrapper > .create-button i {
    color: #00cc00;
    padding-left: 3px;
}



.navigation-wrapper > .button-wrapper > .search-icon i {
    padding: 10px;
    margin: 5px 10px 5px 5px;

}

.navigation-wrapper > .button-wrapper > .login-button {
    background-color: #343436; 
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 10px 5px 10px;
    padding: 5px;
    width: 100px;
    height: 50px;
    border-color: #343436;
}

.navigation-wrapper > .button-wrapper > .search-icon i {
    font-size: 1.5em;
    color: grey;
    
   
}

.navigation-wrapper > .button-wrapper > .signup-button {
    background-color: #343436; 
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0px 5px 10px;
    padding: 5px;
    width: 100px;
    height: 50px;
    border-color: #343436;
}


/* Main page styles */

.mainpage-content-wrapper {
    background: radial-gradient(circle farthest-corner at 200px 0, #414141, #000);
    background-position: top left;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

}

.mainpage-content-wrapper > .left-column-mainpage-wrapper {
    padding: 45px;
}

.mainpage-content-wrapper > .left-column-mainpage-wrapper > .paragraphs-wrapper > h1  {
    font-weight: 200;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    color: #FFFFFF;
}

.mainpage-content-wrapper > .left-column-mainpage-wrapper > .paragraphs-wrapper > p {
    font-weight: 100;
    margin-bottom: 19px;
    padding: 7.5px 0px;
    color: #B3B3B3;
    font-size: 25px;
    line-height: 32px;   
}

.mainpage-content-wrapper > .left-column-mainpage-wrapper > .big-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.mainpage-content-wrapper > .left-column-mainpage-wrapper > .big-button-wrapper > .big-green-signup-button {
    background-color: #47cf73;
    border-radius: 2px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.mainpage-content-wrapper > .left-column-mainpage-wrapper > .big-button-wrapper > .big-green-signup-button a{
    font-size: 24px;
    color: black;

    

  
}

.mainpage-content-wrapper > .left-column-mainpage-wrapper > .big-button-wrapper > .big-black-learnmore-button {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainpage-content-wrapper > .right-column-mainpage-wrapper {
    padding: 35px 0px 0px 10px;
}

.mainpage-content-wrapper > .right-column-mainpage-wrapper > .text-above-screenshot p {
    text-indent: 35px;
}

.mainpage-content-wrapper > .right-column-mainpage-wrapper > .screenshot > .projects-screenshot {
    max-width: 100%;
    height: auto;
}

/* 
footer styles */

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.footer-wrapper > .footer {
    text-align: center;
    background-color: #373737;
    padding: 7.5px 15px;
    border: 1px solid #676767;
   

    

}

.footer-wrapper > .footer a {
    color: white;
    text-align: center;
    background: #373737;
    font-size: 15px;
}
